#s-148c7e83-8137-4e9c-92bf-ed5cd84577d9 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-148c7e83-8137-4e9c-92bf-ed5cd84577d9 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-148c7e83-8137-4e9c-92bf-ed5cd84577d9 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-148c7e83-8137-4e9c-92bf-ed5cd84577d9 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-148c7e83-8137-4e9c-92bf-ed5cd84577d9 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-148c7e83-8137-4e9c-92bf-ed5cd84577d9 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-148c7e83-8137-4e9c-92bf-ed5cd84577d9 #s-cpc .s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-148c7e83-8137-4e9c-92bf-ed5cd84577d9 #s-cpc .s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-148c7e83-8137-4e9c-92bf-ed5cd84577d9 #s-cpc .s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-148c7e83-8137-4e9c-92bf-ed5cd84577d9 #s-Summary_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-148c7e83-8137-4e9c-92bf-ed5cd84577d9 #s-Index_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-148c7e83-8137-4e9c-92bf-ed5cd84577d9 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-148c7e83-8137-4e9c-92bf-ed5cd84577d9 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-148c7e83-8137-4e9c-92bf-ed5cd84577d9 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-148c7e83-8137-4e9c-92bf-ed5cd84577d9 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-148c7e83-8137-4e9c-92bf-ed5cd84577d9 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}