#s-148c7e83-8137-4e9c-92bf-ed5cd84577d9 #s-Panel_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C7C5B2;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C7C5B2;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C7C5B2;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C7C5B2;
}
#s-148c7e83-8137-4e9c-92bf-ed5cd84577d9 #s-Button_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 71px;
  height: 24px;
  -ms-transform: rotate(0.0deg);
}
#s-148c7e83-8137-4e9c-92bf-ed5cd84577d9 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-148c7e83-8137-4e9c-92bf-ed5cd84577d9 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-148c7e83-8137-4e9c-92bf-ed5cd84577d9 #s-Button_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 48px;
  height: 24px;
  -ms-transform: rotate(0.0deg);
}
#s-148c7e83-8137-4e9c-92bf-ed5cd84577d9 #s-Panel_1 > .valign {
  vertical-align: top;
}
#s-148c7e83-8137-4e9c-92bf-ed5cd84577d9 #s-Row_cell_1 {
  position: relative;
}
#s-148c7e83-8137-4e9c-92bf-ed5cd84577d9 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-148c7e83-8137-4e9c-92bf-ed5cd84577d9 #s-Row_cell_3 {
  position: relative;
}
#s-148c7e83-8137-4e9c-92bf-ed5cd84577d9 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-148c7e83-8137-4e9c-92bf-ed5cd84577d9 #s-Row_cell_5 {
  position: relative;
}
#s-148c7e83-8137-4e9c-92bf-ed5cd84577d9 #s-Row_cell_7 {
  position: relative;
}
#s-148c7e83-8137-4e9c-92bf-ed5cd84577d9 #s-Row_cell_9 {
  position: relative;
}
#s-148c7e83-8137-4e9c-92bf-ed5cd84577d9 #s-cpc .s-Row_cell_2 {
  position: relative;
}
#s-148c7e83-8137-4e9c-92bf-ed5cd84577d9 #s-cpc .s-Row_cell_4 {
  position: relative;
}
#s-148c7e83-8137-4e9c-92bf-ed5cd84577d9 #s-cpc .s-Row_cell_6 {
  position: relative;
}
#s-148c7e83-8137-4e9c-92bf-ed5cd84577d9 #s-cpc .s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-148c7e83-8137-4e9c-92bf-ed5cd84577d9 #s-cpc .s-Row_cell_8 {
  position: relative;
}
#s-148c7e83-8137-4e9c-92bf-ed5cd84577d9 #s-cpc .s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-148c7e83-8137-4e9c-92bf-ed5cd84577d9 #s-cpc .s-Row_cell_10 {
  position: relative;
}
#s-148c7e83-8137-4e9c-92bf-ed5cd84577d9 #s-cpc .s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-148c7e83-8137-4e9c-92bf-ed5cd84577d9 #s-Summary_1 {
  -ms-transform: rotate(0.0deg);
}
#s-148c7e83-8137-4e9c-92bf-ed5cd84577d9 #s-Index_1 {
  -ms-transform: rotate(0.0deg);
}
#s-148c7e83-8137-4e9c-92bf-ed5cd84577d9 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-148c7e83-8137-4e9c-92bf-ed5cd84577d9 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-148c7e83-8137-4e9c-92bf-ed5cd84577d9 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-148c7e83-8137-4e9c-92bf-ed5cd84577d9 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-148c7e83-8137-4e9c-92bf-ed5cd84577d9 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}