#s-26bf8e3a-8614-4564-85bd-92e678fe0842 #s-Image_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=67) ;
  filter: alpha(opacity=67) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26bf8e3a-8614-4564-85bd-92e678fe0842 #s-Image_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26bf8e3a-8614-4564-85bd-92e678fe0842 #s-Title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26bf8e3a-8614-4564-85bd-92e678fe0842 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26bf8e3a-8614-4564-85bd-92e678fe0842 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26bf8e3a-8614-4564-85bd-92e678fe0842 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26bf8e3a-8614-4564-85bd-92e678fe0842 #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26bf8e3a-8614-4564-85bd-92e678fe0842 #s-Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26bf8e3a-8614-4564-85bd-92e678fe0842 #s-Button_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26bf8e3a-8614-4564-85bd-92e678fe0842 #s-Button_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-26bf8e3a-8614-4564-85bd-92e678fe0842 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}