#s-3f7d7151-aeb8-46e7-8676-2b83bacc2126 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=67);
  filter: alpha(opacity=67);
}
#s-3f7d7151-aeb8-46e7-8676-2b83bacc2126 #s-Title {
  -ms-transform: rotate(0.0deg);
}
#s-3f7d7151-aeb8-46e7-8676-2b83bacc2126 #s-Image_43 {
  -ms-transform: rotate(0.0deg);
}
#s-3f7d7151-aeb8-46e7-8676-2b83bacc2126 #s-Button_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 354px;
  height: 65px;
  -ms-transform: rotate(0.0deg);
}
#s-3f7d7151-aeb8-46e7-8676-2b83bacc2126 #s-Button_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 354px;
  height: 71px;
  -ms-transform: rotate(0.0deg);
}
#s-3f7d7151-aeb8-46e7-8676-2b83bacc2126 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-3f7d7151-aeb8-46e7-8676-2b83bacc2126 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-3f7d7151-aeb8-46e7-8676-2b83bacc2126 #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-3f7d7151-aeb8-46e7-8676-2b83bacc2126 #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-3f7d7151-aeb8-46e7-8676-2b83bacc2126 #s-Button_3 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 354px;
  height: 67px;
  -ms-transform: rotate(0.0deg);
}
#s-3f7d7151-aeb8-46e7-8676-2b83bacc2126 #s-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-3f7d7151-aeb8-46e7-8676-2b83bacc2126 #s-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-3f7d7151-aeb8-46e7-8676-2b83bacc2126 #s-Button_4 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 354px;
  height: 68px;
  -ms-transform: rotate(0.0deg);
}
#s-3f7d7151-aeb8-46e7-8676-2b83bacc2126 #s-Line_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-3f7d7151-aeb8-46e7-8676-2b83bacc2126 #s-Line_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-y: hidden;
}
.non_jim_mobile #simulation {
  overflow-y: hidden;
}
#s-3f7d7151-aeb8-46e7-8676-2b83bacc2126 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}