#s-3f7d7151-aeb8-46e7-8676-2b83bacc2126 #s-Image_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=67) ;
  filter: alpha(opacity=67) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f7d7151-aeb8-46e7-8676-2b83bacc2126 #s-Title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f7d7151-aeb8-46e7-8676-2b83bacc2126 #s-Image_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f7d7151-aeb8-46e7-8676-2b83bacc2126 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f7d7151-aeb8-46e7-8676-2b83bacc2126 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f7d7151-aeb8-46e7-8676-2b83bacc2126 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f7d7151-aeb8-46e7-8676-2b83bacc2126 #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f7d7151-aeb8-46e7-8676-2b83bacc2126 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f7d7151-aeb8-46e7-8676-2b83bacc2126 #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f7d7151-aeb8-46e7-8676-2b83bacc2126 #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f7d7151-aeb8-46e7-8676-2b83bacc2126 #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-y: hidden;
}
.non_jim_mobile #simulation {
  overflow-y: hidden;
}
#s-3f7d7151-aeb8-46e7-8676-2b83bacc2126 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}