#s-50c8e7c1-6be3-4a06-9ffa-c996bb590a7f #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50c8e7c1-6be3-4a06-9ffa-c996bb590a7f #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50c8e7c1-6be3-4a06-9ffa-c996bb590a7f #s-Image_139 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50c8e7c1-6be3-4a06-9ffa-c996bb590a7f #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50c8e7c1-6be3-4a06-9ffa-c996bb590a7f #s-Image_140 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50c8e7c1-6be3-4a06-9ffa-c996bb590a7f #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50c8e7c1-6be3-4a06-9ffa-c996bb590a7f #s-Image_121 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50c8e7c1-6be3-4a06-9ffa-c996bb590a7f #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50c8e7c1-6be3-4a06-9ffa-c996bb590a7f #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50c8e7c1-6be3-4a06-9ffa-c996bb590a7f #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50c8e7c1-6be3-4a06-9ffa-c996bb590a7f #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50c8e7c1-6be3-4a06-9ffa-c996bb590a7f #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50c8e7c1-6be3-4a06-9ffa-c996bb590a7f #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50c8e7c1-6be3-4a06-9ffa-c996bb590a7f #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50c8e7c1-6be3-4a06-9ffa-c996bb590a7f #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50c8e7c1-6be3-4a06-9ffa-c996bb590a7f #s-Line_1 {
  rotation: 180.0;
  margin-left: 0px;
  margin-top: -1px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-50c8e7c1-6be3-4a06-9ffa-c996bb590a7f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}