#s-67988135-8ac2-43d1-a42a-cf468a695149 #s-Image_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=67) ;
  filter: alpha(opacity=67) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67988135-8ac2-43d1-a42a-cf468a695149 #s-Image_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=67) ;
  filter: alpha(opacity=67) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67988135-8ac2-43d1-a42a-cf468a695149 #s-Title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67988135-8ac2-43d1-a42a-cf468a695149 #s-Image_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67988135-8ac2-43d1-a42a-cf468a695149 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67988135-8ac2-43d1-a42a-cf468a695149 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67988135-8ac2-43d1-a42a-cf468a695149 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-67988135-8ac2-43d1-a42a-cf468a695149 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}