#s-88516577-d867-48ea-9ca1-2d7abfec75be #s-Image_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=67) ;
  filter: alpha(opacity=67) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-88516577-d867-48ea-9ca1-2d7abfec75be #s-Image_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-88516577-d867-48ea-9ca1-2d7abfec75be #s-Title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-88516577-d867-48ea-9ca1-2d7abfec75be #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-88516577-d867-48ea-9ca1-2d7abfec75be #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-88516577-d867-48ea-9ca1-2d7abfec75be #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-88516577-d867-48ea-9ca1-2d7abfec75be #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-88516577-d867-48ea-9ca1-2d7abfec75be #s-Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-88516577-d867-48ea-9ca1-2d7abfec75be #s-Button_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-88516577-d867-48ea-9ca1-2d7abfec75be #s-Button_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-88516577-d867-48ea-9ca1-2d7abfec75be > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}