#s-8df4438b-6be3-4b52-9e4e-21b10320c91e #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8df4438b-6be3-4b52-9e4e-21b10320c91e #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8df4438b-6be3-4b52-9e4e-21b10320c91e #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8df4438b-6be3-4b52-9e4e-21b10320c91e #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-8df4438b-6be3-4b52-9e4e-21b10320c91e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}