#s-9e344803-ca50-4602-88f9-08986586ba2f #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9e344803-ca50-4602-88f9-08986586ba2f #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9e344803-ca50-4602-88f9-08986586ba2f #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9e344803-ca50-4602-88f9-08986586ba2f #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9e344803-ca50-4602-88f9-08986586ba2f #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9e344803-ca50-4602-88f9-08986586ba2f #s-Image_121 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9e344803-ca50-4602-88f9-08986586ba2f #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9e344803-ca50-4602-88f9-08986586ba2f #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-9e344803-ca50-4602-88f9-08986586ba2f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}