#s-a17f6f2c-3270-4d59-b0bb-cced3df32b66 #s-Image_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80) ;
  filter: alpha(opacity=80) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a17f6f2c-3270-4d59-b0bb-cced3df32b66 #s-Title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a17f6f2c-3270-4d59-b0bb-cced3df32b66 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a17f6f2c-3270-4d59-b0bb-cced3df32b66 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a17f6f2c-3270-4d59-b0bb-cced3df32b66 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a17f6f2c-3270-4d59-b0bb-cced3df32b66 #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a17f6f2c-3270-4d59-b0bb-cced3df32b66 #s-Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a17f6f2c-3270-4d59-b0bb-cced3df32b66 #s-Button_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a17f6f2c-3270-4d59-b0bb-cced3df32b66 #s-Button_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-a17f6f2c-3270-4d59-b0bb-cced3df32b66 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}