#s-c2c38f27-16f5-4c96-b25b-51176880aced #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c2c38f27-16f5-4c96-b25b-51176880aced #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c2c38f27-16f5-4c96-b25b-51176880aced #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c2c38f27-16f5-4c96-b25b-51176880aced #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c2c38f27-16f5-4c96-b25b-51176880aced #s-Image_121 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c2c38f27-16f5-4c96-b25b-51176880aced #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c2c38f27-16f5-4c96-b25b-51176880aced #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c2c38f27-16f5-4c96-b25b-51176880aced #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-c2c38f27-16f5-4c96-b25b-51176880aced > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}