#s-cafae8c5-692e-4171-8010-fe5fc3f8fb9c #s-Image_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=67) ;
  filter: alpha(opacity=67) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cafae8c5-692e-4171-8010-fe5fc3f8fb9c #s-Image_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cafae8c5-692e-4171-8010-fe5fc3f8fb9c #s-Title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cafae8c5-692e-4171-8010-fe5fc3f8fb9c #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cafae8c5-692e-4171-8010-fe5fc3f8fb9c #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cafae8c5-692e-4171-8010-fe5fc3f8fb9c #s-Image_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-cafae8c5-692e-4171-8010-fe5fc3f8fb9c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}