#s-ce8fe72c-31ae-49fc-b8b5-278176b04086 #s-Image_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=67) ;
  filter: alpha(opacity=67) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8fe72c-31ae-49fc-b8b5-278176b04086 #s-Title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8fe72c-31ae-49fc-b8b5-278176b04086 #s-Image_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8fe72c-31ae-49fc-b8b5-278176b04086 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8fe72c-31ae-49fc-b8b5-278176b04086 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8fe72c-31ae-49fc-b8b5-278176b04086 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8fe72c-31ae-49fc-b8b5-278176b04086 #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8fe72c-31ae-49fc-b8b5-278176b04086 #s-Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-ce8fe72c-31ae-49fc-b8b5-278176b04086 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}