#s-d120a0f9-42be-4984-9e2a-b2a84db58da5 #s-Image_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=67) ;
  filter: alpha(opacity=67) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d120a0f9-42be-4984-9e2a-b2a84db58da5 #s-Image_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d120a0f9-42be-4984-9e2a-b2a84db58da5 #s-Title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d120a0f9-42be-4984-9e2a-b2a84db58da5 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d120a0f9-42be-4984-9e2a-b2a84db58da5 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d120a0f9-42be-4984-9e2a-b2a84db58da5 #s-Image_121 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d120a0f9-42be-4984-9e2a-b2a84db58da5 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d120a0f9-42be-4984-9e2a-b2a84db58da5 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d120a0f9-42be-4984-9e2a-b2a84db58da5 #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d120a0f9-42be-4984-9e2a-b2a84db58da5 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-d120a0f9-42be-4984-9e2a-b2a84db58da5 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}