#s-d1a31f1c-f979-414d-88f7-881dd75bd853 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d1a31f1c-f979-414d-88f7-881dd75bd853 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d1a31f1c-f979-414d-88f7-881dd75bd853 #s-Image_139 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d1a31f1c-f979-414d-88f7-881dd75bd853 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d1a31f1c-f979-414d-88f7-881dd75bd853 #s-Image_140 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d1a31f1c-f979-414d-88f7-881dd75bd853 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d1a31f1c-f979-414d-88f7-881dd75bd853 #s-Image_121 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d1a31f1c-f979-414d-88f7-881dd75bd853 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d1a31f1c-f979-414d-88f7-881dd75bd853 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d1a31f1c-f979-414d-88f7-881dd75bd853 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d1a31f1c-f979-414d-88f7-881dd75bd853 #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d1a31f1c-f979-414d-88f7-881dd75bd853 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d1a31f1c-f979-414d-88f7-881dd75bd853 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d1a31f1c-f979-414d-88f7-881dd75bd853 #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d1a31f1c-f979-414d-88f7-881dd75bd853 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d1a31f1c-f979-414d-88f7-881dd75bd853 #s-Line_1 {
  rotation: 180.0;
  margin-left: 0px;
  margin-top: -1px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-d1a31f1c-f979-414d-88f7-881dd75bd853 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}